---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<center><img src="https://www.kiran.foundation/branding/logo_home.png" /></center> <br>
			<h3>Welcome to the Kiran Foundation Blog</h3>
			<p>
				At Kiran Foundation, we believe in the power of stories to
				inspire change, foster learning, and ignite a sense of
				community. Our blog serves as a platform to share our journey,
				the lives we’ve touched, and the initiatives driving positive
				change in society.
			</p>
			<h5>Through this blog, we aim to:</h5>
			<ul>
				<li>Share Stories of Impact: Real stories from individuals and communities empowered by our programs.</li>
				<li>Provide Insights: Educational content on social issues, sustainability, healthcare, and personal development.</li>
				<li>Inspire Action: Highlight opportunities for you to get involved and make a difference.</li>
			</ul>
			<a href="https://www.kiran.foundation/">Check Offical Website...</a>

		</main>
		<Footer />
	</body>
</html>
